img {
	display: inline-block;
	margin: 20px;
}

#btn-area {
	margin-top: 20px;
}

.topic-btn {
	margin: 7px;
}

body {
	background-image: url("../images/darkness.png");
}

#topic-pics p {
	position: relative;
	left: 20px;
}